#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.container {
  background-color: white;
  width: 360px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat;
  font-weight: bold;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  gap: 10px;
  justify-content: space-evenly;
  height: 25px;
}

.nav a {
  text-decoration: none;
    color: black;
}

.nav a:hover {
  color: white;
  background-color: black;
}

.navItem {
  padding-right: 10px;
}

h1 {
  font-family: Montserrat;
  padding: 10px 0 0 0;
}

h2 {
  font-family: Montserrat;
  padding: 5px 10px;
  margin: 0 10px;
}

h3 {
  font-family: Montserrat;
  padding: 5px 10px 0 10px;
  margin: 0 10px;
}

p {
  font-family: Lato;
}

/* .instructions {
  font-size: 12px;
  font-family: Lato;
  width: 300px;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
}

.instructionItem {
  list-style-type: none;
  margin-left: 0;
  padding-bottom: 5px;
  padding-left: 0;
} */

.instructions {
  text-align: center;
   font-family: Lato;
   font-size: 12px;
}

.instructions-list {
  padding-top: 10px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
}

.instruction-step {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.step-number {
  font-weight: bold;
  margin-right: 0.75rem;
  color: #ff4d4d;
}

.step-text {
  flex: 1;
  text-align: left;
}


.controls {
    font-family: Montserrat;
    padding: 5px;
}

.count {
  padding: 10px 10px;
}

.showMore {
  font-family: Montserrat;
  padding: 5px 5px;
  margin: 15px;
  border-radius: 5px;
}

.controlBtn {
  font-family: Montserrat;
  margin: 15px;
  padding: 5px 5px;
  border-radius: 5px;
}

