#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;

}

.navItem {
  padding-right: 10px;
}

.instructions {
  font-size: 10px;
}

.instructionItem {
  list-style-type: none;
}